@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --primary : #1aac83;
    --error : #e7195a;
}

body{
    background: #dedada;
    margin: 0;
    font-family: "Poppins";
}

header{
    background: #f1f1f1;
}

header .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #333;
    font-weight: 800;
    text-decoration: none;
}
.pages{
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}